/* dark-mode.css */

/* Estilos gerais */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode a {
    color: #bb86fc;
}

/* Cabeçalho */
body.dark-mode header {
    background-color: #1f1f1f;
}

body.dark-mode #faixa-do-header {
    background-color: #3700b3;
    color: #e0e0e0;
}

#logo-trocar {
    height: 20px;
    width: 230px;
    margin: 5px;
}

/* Navbar */
body.dark-mode .navbar ul li a {
    color: #e0e0e0;
    background-color: transparent;
}

body.dark-mode .navbar ul li a:hover, 
body.dark-mode .navbar ul li a:focus {
    background-color: #333;
}

body.dark-mode .navbar ul li a[href="index.html"] {
    background-color: #6200ee;
    color: #ffffff;
}

/* Conteúdo Principal */
body.dark-mode main {
    background-color: rgb(50, 50, 50);
}

.butaum {
    margin-left: 180px;
    background-color: #3700b3;
    height: 40px;
    width: 140px;
    border-radius: 13px;
    color: white;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
  
.butaum:hover {
    background-color: darkblue;
    transform: scale(1.05);
}

/* Rodapé */
body.dark-mode footer {
    background-color: #1f1f1f;
    color: #e0e0e0;
}

body.dark-mode .elementsfooter a {
    color: #ffffff;
}

body.dark-mode .elementsfooter img {
    filter: brightness(0.8);
}

body.dark-mode .diagonal-line {
    background-color: #bb86fc;
}

#modo-noturno {
    text-align: right;
    padding: 5px;
    margin-right: 19px;
}

#dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#dark-mode-toggle img {
    width: 40px; 
    height: 40px; 
}