/* dark-mode.css */

/* Estilos gerais */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode a {
    color: #bb86fc;
}

/* Cabeçalho */
body.dark-mode header {
    background-color: #1f1f1f;
}

body.dark-mode #faixa-do-header {
    background-color: #3700b3;
    color: #e0e0e0;
}

#logo-trocar {
    height: 20px;
    width: 230px;
    margin: 5px;
}

/* Navbar */
body.dark-mode .navbar ul li a {
    color: #e0e0e0;
    background-color: transparent;
}

body.dark-mode .navbar ul li a:hover, 
body.dark-mode .navbar ul li a:focus {
    background-color: #333;
}

body.dark-mode .navbar ul li a[href="prevencoes.html"] {
    background-color: #6200ee;
    color: #ffffff;
}

/* Conteúdo Principal */
body.dark-mode main {
    background-color: rgb(50, 50, 50);
}

/* Carrosel */

/* Modo noturno */
.dark-mode .carrossel-control-prev, .dark-mode .carrossel-control-next {
    background-color: rgba(55, 0, 179, 0.8); /* Cor roxa para os controles do carrossel */
    box-shadow: 0 0 10px rgba(55, 0, 179, 0.5); /* Sombra roxa */
}

.dark-mode .carrossel-control-prev:hover, .dark-mode .carrossel-control-next:hover {
    background-color: rgba(39, 5, 118, 0.8); /* Hover do botão roxo */
    box-shadow: 0 0 10px rgba(39, 5, 118, 0.5); /* Sombra do botão hover roxa */
}

.dark-mode .carrossel-item {
    background-color: rgb(50, 50, 50); /* Fundo escuro para itens do carrossel */
    color: white; /* Texto branco */
}

.dark-mode .prevencao-tipos, .dark-mode .recomendacoes-seguranca {
    background-color: rgb(60, 60, 60); /* Fundo mais escuro para os itens de carrossel */
    color: white; /* Texto branco */
    box-shadow: 0 0 10px rgba(55, 0, 179, 0.5); /* Sombra roxa */
}

.dark-mode #texto1 {
    background-color: rgb(70, 70, 70); /* Fundo mais escuro para o texto */
    color: white; /* Texto branco */
    box-shadow: 0 0 10px rgba(55, 0, 179, 0.5); /* Sombra roxa */
}

.dark-mode button {
    background-color: #3700b3;
}

.dark-mode button:hover {
    background-color: #270576;
}


/* Rodapé */
body.dark-mode footer {
    background-color: #1f1f1f;
    color: #e0e0e0;
}

body.dark-mode .elementsfooter a {
    color: #ffffff;
}

body.dark-mode .elementsfooter img {
    filter: brightness(0.8);
}

body.dark-mode .diagonal-line {
    background-color: #bb86fc;
}

#modo-noturno {
    text-align: right;
    padding: 5px;
}

#dark-mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

#dark-mode-toggle img {
    width: 40px; 
    height: 40px; 
}