/* reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
    font-family: sans-serif;
    background-color:  #e9e9e9;
}   

header {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
}

#faixa-do-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 60px; 
}

#barra-de-pesquisa {
    display: flex;
    cursor: pointer;
}

#barra-de-pesquisa img {
    height: 20px; 
    margin-right: 10px;
}

#barra-de-pesquisa input {
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* navbar = barra de navegação*/
.navbar-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 4px;
}

.navbar ul li a:hover, 
.navbar ul li a:focus {
    background-color: #f1f1f1;
}

.navbar ul li a[href=".html"] {
    background-color: #007bff;
    color: white;
}

/* Estilos para padronizacao de blocos de conteúdo dos paragrafos */
.padronizacao {
    color: #030303; /* Cor do texto */
    font-family: "open sans", sans-serif; /* Fonte do texto */
    font-size: 24px; /* Tamanho da fonte */
}

/* Estilos para títulos */
.tituloPrincipal {
    font-family: 'montserrat', sans-serif; /* Fonte do texto */
    text-align: left; /* Texto na esquerda */
    margin-left: 20px; /* Margem esquerda */
    color: #007bff; /* Cor azul para o título principal */
    padding: 20px; /* Espaçamento interno */
    margin-bottom: 10px; /* Margem inferior */
    font-size: 44px; /* Tamanho da fonte */
    font-style: bold; /* negrito */
}

/* Estilos para parágrafos */
.paragrafoPrincial {
    text-align: justify; /* Texto justificado */
    margin-left: 100px; /* Margem esquerda */
    margin-right: 200px; /* Margem direita */
    margin-bottom: 20px; /* Margem inferior */

    font-style: italic /* Itálico */;

}

/* Estilos para o container dos cards de informações */
.container {
    text-align: center; /* Alinha o conteúdo ao centro */
    background-color: #828282; /* Fundo  */
    width: 100%; /* Largura total */
}

/* Estilos para  título do container   */
.titulo-container{
    color: white; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    margin-bottom: 20px; /* Margem inferior */
    font-size: 44px; /* Tamanho da fonte */

}
/* Estilos para os cards de informações */
.info-cards {
    display: flex; /* Usa flexbox para organizar os cards */
    justify-content: space-around; /* Distribui os cards com espaço igual entre eles */
    flex-wrap: wrap; /* Permite que os cards quebrem linhas em telas menores */
    background-color: transparent; /* Fundo transparente */
}

.card {
    
    padding: 20px; /* Espaçamento interno */
    margin-bottom: 20px; /* Margem inferior */
    box-shadow: 4px 0px 0px 0px rgba(0, 0, 0, 0.1); /* Sombra sutil para separar os cards*/
    flex: 1 1 200px; /* Cada card ocupa 1 fração do espaço disponível, com largura mínima de 200px */
    text-align: center; /* Alinha o conteúdo do card ao centro */
    
}

.card img {
    width: 50px; /* Largura da imagem */
    height: 50px; /* Altura da imagem */
    margin-bottom: 10px; /* Margem inferior */
}

.tituloCard {
    font-size: 14px; /* Tamanho da fonte */
    margin-bottom: 10px; /* Margem inferior */
    font-style: bold; /* Negrito */
    color: black; /* Cor do texto */
}

.texto-card {
    font-size: 20px; /* Tamanho da fonte */
    color: black; /* Cor do texto */
}

.agradecimento {
    text-align: center; /* Alinha o texto ao centro */
    margin-top: 50px; /* Margem superior */
    font-size: 24px; /* Tamanho da fonte */
    font-style: italic; /* Itálico */
    color: #007bff; /* Cor azul */
}


/* rodapé = footer */
footer {
    background-color: #007bff;  
    width: 100%;
    position: relative;
    color: white;
    overflow: hidden;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    width: 100%;
    height: 100%;
}

#qrcode {
    height: 120px;
    width: 120px;
}

#bandeira {
    height: 80px;
    width: auto;
    margin-bottom: 10px;
}

.elementsfooter {
    display: flex;
    margin-bottom: 5px;
    font-size: 90px;
}

.elementsfooter a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.elementsfooter img {
    margin-right: 10px;
    height: 30px; 
    width: 30px;   
}

.elementsfooter h3 {
    margin: 0;
    font-size: 14px;
}

#footerfeio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.middle-section {
    text-align: center;
}

.diagonal-line {
    position: absolute;
    width: 2px;
    background-color: rgb(0, 0, 0);
    height: 100%; 
}

.diagonal-line.left {
    top: 0;
    left: 33.33%;
    transform: rotate(45deg);
}

.diagonal-line.right {
    top: 0;
    left: 66.66%;
    transform: rotate(45deg);
}