body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
faixa-do-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 5%;
}

.logo img {
    height: 60px; 
}

#barra-de-pesquisa {
    display: flex;
    align-items: center;
}

#barra-de-pesquisa img {
    height: 20px; 
    margin-right: 10px;
}
#barra-de-pesquisa input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* navbar */
.navbar-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 5%;
}

.navbar {
    width: auto;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 4px;
}

.navbar ul li a:hover, 
.navbar ul li a:focus {
    background-color: #f1f1f1;
}

.navbar ul li a[href="noticias.html"] {
    background-color: #007bff;
    color: white;
}

main {
    background-color: #ccc;
    display: flex;
    height: 80%;
    width: 80;
    padding: 0%;
}

.noticias img{
    flex-direction: column;
}

#lastNews img{
    height: 150px;
    width: 250px;
    margin-left: 30px;
    margin-inline-end: 12px;
}

#lastNews #ListaNoticias{
    margin-top: 20px;
    display: flex;
    margin-right: 300px;
}

#AjudeRG img{
    height: 150px;
    width: 250px;
    margin-right: 60px;
    margin-top: 80px;
}

#AjudeRG p{
    margin-right: 35px;
}

article {
    background-color: #ccc;
}

article p{
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    background-color: #007bff;
    display: flex;
    height: 40%;
    width: 100%;
}
