* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#faixa-do-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: px 5%;
}

.logo img {
    height: 60px; 
}

#barra-de-pesquisa {
    display: flex;
    align-items: center;
}

#barra-de-pesquisa img {
    height: 20px; 
    margin-right: 10px;
}

#barra-de-pesquisa input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* navbar */
.navbar-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 5%;
}

.navbar {
    width: auto;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 4px;
}

.navbar ul li a:hover, 
.navbar ul li a:focus {
    background-color: #f1f1f1;
}

.navbar ul li a[href="noticias.html"] {
    background-color: #007bff;
    color: white;
}

main {
    background-color: #ccc;
    display: flex;
    height: 80%;
    width: 80;
    padding: 0%;
}

.noticias img{
    flex-direction: column;
    height: 120px;
    width: 220px;
    margin-left: 60px;
    margin-inline-end: 12px;
}

#lastNews .ListaNoticias{
    display: flex;
    margin-top: 20px;
    margin-right: 300px;
    margin-bottom: 20px;
}

#lastNews h3 {
    margin-top: 30px;
    margin-left: 60px;
    font-size: 26px;
}

#AjudeRG img{
    height: 120px;
    width: 220px;
    margin-right: 60px;
    margin-top: 80px;
}

#AjudeRG p{
    margin-right: 35px;
}

article {
    background-color: #ccc;
    font-size: 19px;
}

article p{
    font-family: 'Open Sans';
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}

article h1{
    padding: 1%;
}

hr {
    margin-top: 16px;
    margin-bottom: 16px;
}

#data {
    font-size: 13px;
}

#subtitulo {
    font-weight: bold;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0066ff; /* Cor de fundo */
    padding: 20px;
    position: relative;
    color: white;
    text-decoration: none;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section.social {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-section.social .footer-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.footer-section.social .footer-item img {
    height: 30px; /* Ajuste conforme necessário */
    margin-right: 10px;
}

.footer h3{
    color: white;
}

.footer-section.flag {
    flex: 1;
    text-align: center;
    position: relative;
}

.footer-section.qr {
    flex: 1;
    text-align: right;
    align-items: flex-end;
}

.footer-item {
    margin: 10px;
}

.footer-item img {
    height: 50px; /* Ajuste conforme necessário */
    margin-bottom: 10px;

}

.footer .flag p {
    margin-top: 10px;
}

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 66.66%; /* Posição da linha diagonal */
    width: 2px; /* Largura da linha */
    background-color: black; /* Cor da linha */
    transform: skew(-20deg); /* Ângulo da linha */
}

.linha {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 33.33%; /* Posição da linha diagonal */
    width: 2px; /* Largura da linha */
    background-color: black; /* Cor da linha */
    transform: skew(-20deg); /* Ângulo da linha */
}