body  {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
  }


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#faixa-do-header {
    background-color: #007bff;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin: 0;
}

header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*width: 100%;*/
   /* padding: 10px 5%;*/
}

body header ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 3rem;
}

/*
.logo img {
    height: 60px; 
}

#barra-de-pesquisa {
    display: flex;
    align-items: center;
}

#barra-de-pesquisa img {
    height: 20px; 
    margin-right: 10px;
}

#barra-de-pesquisa input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
*/
/*mains*/
  main {
      display: flexblock;
      justify-content: space-between;
      padding: 20px;
     
  }
  
  section {
      flex: 1;
      padding: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 10px;
      border-radius: 8px;
  }
  .prevencao-tipos {
      text-align: center;
      justify-content: center;
      align-items: center;
  }
  
  .recomendacoes-seguranca {
      text-align: 0;
      justify-content: center;
  }
  
  main section h2 {
      text-align: center;
  
  }
  
  
  /* Adicionando estilos básicos para botões e imagens */
  button {
      padding: 10px 20px;
      margin-top: 10px;
      background-color: #007BFF;
      color: white;
      border: none;
      cursor: pointer;
      border-radius: 5px;
  }
  
  button:hover {
      background-color: #0056b3;
  }
  
  img {
      max-width: 100%;
      height: auto;
      display: block;
      margin-bottom: 10px;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #007bff;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}


.footer-item {
    margin: 0 10px;
}

.footer a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.footer img {
    height: 50px; /* ajuste conforme necessário */
}